* {
  margin: 0;
  padding: 0;
}

html {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
}

/* navbar */
.navbar {
  width: 100%;
  height: 5rem;
  align-items: center;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.nav-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fafafa;
}

.nav-transparent {
  background-color: transparent;
}

.nav-dark {
  background-color: #030306cb;
}

.nav-link ul {
  display: flex;
  align-items: center;
  width: 35rem;
  font-size: 1rem;
  height: 5rem;
  justify-content: space-between;
}

.nav-link li {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
/* end navbar */

/* home */
.home {
  width: 100%;
  height: 45em;
  background: url(../images/home-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content h1 {
  color: #fafafa;
  font-weight: 500;
  font-size: 5rem;
  text-align: center;
}

.home-content span {
  font-weight: 800;
}
/* end home */
/* about */
.about {
  height: 40rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-img img {
  height: 25rem;
  width: 25rem;
  margin: 0 3rem;
}

.about-content {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.about-text h2 {
  color: #444444;
  font-size: 2rem;
  font-weight: 700;
}

.about-text h4 {
  font-size: 1.4rem;
  margin: 2rem 0;
  font-weight: 200;
  color: #444444;
}

.about-text p {
  margin-top: 2rem;
  color: #444444;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.btn-abouts {
  margin-top: 2rem;
}

.btn-about {
  padding: 1rem 3rem;
  position: inherit;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1rem;
  color: #444444;
  border: 1px solid #444444;
  transition: 0.1s linear;
}

.btn-about:hover {
  background-color: #444444;
  color: #fafafa;
}
/* end about */

/* skill */
.skill {
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-header p {
  font-size: 0.9rem;
  color: #444444;
  width: 60%;
  text-align: center;
}

.skill-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-header h1 {
  font-size: 3rem;
  margin: 3rem 0;
  text-transform: capitalize;
  color: #444444;
}

.skill-header h1::after {
  content: "";
  padding: 1.5rem 1px;
  border-radius: 50px;
  transform: rotate(90deg);
  position: absolute;
  margin-top: 3.5rem;
  right: 50%;
  background-color: #444444;
}

.skill-container {
  display: grid;
  height: 20rem;
  margin: 0 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 2rem 2rem;
  grid-auto-flow: row;
  grid-template-areas: "skill1 skill2 skill3";
}

.skill1 {
  grid-area: skill1;
}

.skill2 {
  grid-area: skill2;
}

.skill3 {
  grid-area: skill3;
}

.skill-container div {
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  transition: 0.2s linear;
  cursor: pointer;
}

.skill-container i {
  font-size: 4rem;
  color: #444444;
  margin-bottom: 1rem;
}

.skill-container div:hover {
  box-shadow: 10px 10px 10px #4444442d;
}

.skill-container h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #444444d2;
  letter-spacing: 1px;
}

.skill-container p {
  margin-top: 1rem;
  color: #444444;
}
/* end skill */
/* project */
.project {
  height: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-header p {
  font-size: 0.9rem;
  color: #444444;
  width: 60%;
  text-align: center;
}

.project-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-header h1 {
  font-size: 3rem;
  margin: 3rem 0;
  text-transform: capitalize;
  color: #444444;
}

.project-header h1::after {
  content: "";
  padding: 1.5rem 1px;
  border-radius: 50px;
  transform: rotate(90deg);
  position: absolute;
  margin-top: 3.5rem;
  right: 50%;
  background-color: #444444;
}

.project-container {
  display: grid;
  width: 90%;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1rem;
  grid-auto-flow: row;
  grid-template-areas: "project1 project2 project3";
}

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.project-container img {
  height: 27rem;
  width: 100%;
}

.project-container h3 {
  font-size: 2rem;
  color: #444444;
  margin: 1rem 0;
  text-transform: uppercase;
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end project */

/* contact */
.contact {
  height: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-header p {
  font-size: 0.9rem;
  color: #444444;
  width: 60%;
  text-align: center;
}

.contact-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-header h1 {
  font-size: 3rem;
  margin: 3rem 0;
  text-transform: capitalize;
  color: #444444;
}

.contact-header h1::after {
  content: "";
  padding: 1.5rem 1px;
  border-radius: 50px;
  transform: rotate(90deg);
  position: absolute;
  margin-top: 3.5rem;
  right: 50%;
  background-color: #444444;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 2rem;
  grid-auto-flow: row;
  grid-template-areas:
    "input1 input2"
    "input3 input4"
    "pesan pesan";
}

.input1 {
  grid-area: input1;
}

.input2 {
  grid-area: input2;
}

.input3 {
  grid-area: input3;
}

.input4 {
  grid-area: input4;
}

.pesan {
  grid-area: pesan;
}

.contact-container input{
  padding: 1rem 7rem;
  text-align: center;
}

.contact-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pesan textarea{
  width: 100%;
}

.contact-container input,
.pesan textarea{
  outline: none;
  border: 1px solid transparent;
}
/* end contact */
/* footer */
footer{
  width: 100%;
  height: 15rem;
  background-color: #000;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fafafa;
}

footer h3{
  color: #fafafa;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 3rem;
}

.footer-contact{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.3rem;
}

.footer-contact a{
  text-decoration: none;
  color: #fafafa;
  font-size: 1rem;
}

footer hr{
  background-color: #fafafa;
  width: 80%;
  margin-top: 2rem;
  height: 0.1px;
}

footer p{
  margin-top: 2rem;
}
/* end footer */